ansible-runner>=2.3.1
ansible-core>=2.15.0
cryptography>=3.1
dnspython>=2.0.0
krb5
pyspnego>=0.8.0
sansldap
lxml
jmespath
requests>=2.4.2
jinja2
ovirt_engine_sdk_python>=4.5.0
ovirt_imageio
ipaddress
suds
pyvmomi>=6.7.1
six
ansible_runner