#rhel-8-de-minimal

---
version: 3

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-25/de-minimal-rhel8:latest'
    options:
      pull_policy: missing
      tls_verify: false

additional_build_files:
  - src: "{{ playbook_dir }}/templates/ansible.cfg.j2"
    dest: configs/ansible.cfg

dependencies:
  python: requirements.txt
  system: bindep.txt
  galaxy: requirements.yml

options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_builder: |
    RUN microdnf install -y python3.11 python3.11-pip python3.11-devel python3.11-pyyaml 

  prepend_final: |
    RUN microdnf upgrade -y \
        && python3 -m pip install --no-cache-dir --upgrade --ignore-installed pip setuptools wheel jmespath six

  append_final: |
    USER root
    RUN microdnf clean all && \
        rm -rf /var/cache/{dnf,yum} && \
        rm -rf /etc/ansible/ansible.cfg 
